<!DOCTYPE html>
<html lang="en">

{% load stringify %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="olyrings.ico"> <!-- TODO icon -->

  <title>2014 Sochi Winter Olympics</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/athlete/bootstrap.min.css" rel="stylesheet"><!-- TODO-->

  <!-- Custom styles for this template -->
  <link href="/static/athlete/eventstyle.css" rel="stylesheet"><!--TODO-->

  <body>

     <script src="/static/athlete/navbar.js"></script>


	<!-- Start of Content -->
	<div class="header">
		<!-- Right Side -->
		<img class="event-icon" src={{"/static/athlete/images/"|add:event.icon}}>

		<!-- Left Side -->
		<h6 class="event-sport">{{event.sport}}</h6>
		<hr class="event-decoration">
		<h1 class="event-event">{{event.name}}</h1>
		<table class="event-info">
	  		<tr>
	    		<th class="medalists"><h5>Medalists</h5></th>
	    		<th class="blue">Country</th>
	    		<th class="blue">Athlete(s)</th>
	  		</tr>
	  		<tr>
	    		<th class="gold">Gold</th>
				{% if event.gold_medalists.all.count == 0 %}
				    <td>&nbsp;</td>
				    <td>&nbsp;</td>
				{% else %}
                  <td>
                  {% with event.gold_medalists.all|first as first_object %}
                    <a href={{"/country/"|add:first_object.country.name|stringify}}>{{ first_object.country }}</a>
                  {% endwith %}
                  </td>
				  <td>
	    		  {% for athlete in event.gold_medalists.all %}
                    <div><a href={{"/athlete/"|add:athlete.first_name|add:" "|add:athlete.last_name|stringify}}>{{athlete.first_name}} {{athlete.last_name}} </a> </div>
                  {% endfor %}
                  </td>
                {% endif %}
	  		</tr>
	  		<tr>
	    		<th class="silver">Silver</th>
				{% if event.silver_medalists.all.count == 0 %}
				    <td>&nbsp;</td>
				    <td>&nbsp;</td>
				{% else %}
                  <td>
                  {% with event.silver_medalists.all|first as first_object %}
                    <a href={{"/country/"|add:first_object.country.name|stringify}}>{{ first_object.country }}</a>
                  {% endwith %}
                  </td>
				  <td>
	    		  {% for athlete in event.silver_medalists.all %}
                    <div><a href={{"/athlete/"|add:athlete.first_name|add:" "|add:athlete.last_name|stringify}}>{{athlete.first_name}} {{athlete.last_name}} </a> </div>
                  {% endfor %}
                  </td>
                {% endif %}
	  		</tr>
	  		<tr>
	    		<th class="bronze">Bronze</th>
				{% if event.bronze_medalists.all.count == 0 %}
				    <td>&nbsp;</td>
				    <td>&nbsp;</td>
				{% else %}
                  <td>
                  {% with event.bronze_medalists.all|first as first_object %}
                    <a href={{"/country/"|add:first_object.country.name|stringify}}>{{ first_object.country }}</a>
                  {% endwith %}
                  </td>
				  <td>
	    		  {% for athlete in event.bronze_medalists.all %}
                    <div><a href={{"/athlete/"|add:athlete.first_name|add:" "|add:athlete.last_name|stringify}}>{{athlete.first_name}} {{athlete.last_name}} </a> </div>
                  {% endfor %}
                  </td>
                {% endif %}
	  		</tr>
		</table>
		<hr class="header-decoration">
	</div> <!-- End of Header -->

    <div class="footer">
      <div class="container">
        <p class="text-muted">For more information on events, visit the official Sochi events page <a href="http://www.sochi2014.com/en/schedule-and-results"> Sochi Games </a></p>
      </div>
    </div>


	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="/static/athlete/bootstrap.min.js"></script>
  </body>
  </html>
