
<!DOCTYPE html>
<html lang="en">

{% load calculate_age %}
{% load stringify %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="olyrings.ico"> <!-- TODO icon -->

  <title>2014 Sochi Winter Olympics</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/athlete/bootstrap.min.css" rel="stylesheet"><!-- TODO-->

  <!-- Custom styles for this template -->
  <link href="/static/athlete/athletestyle.css" rel="stylesheet"><!--TODO-->

  <body>

      <script src="/static/athlete/navbar.js"></script>


	<!-- Start of Content -->
	<div class="header">

		<!-- Left Side -->
		<img class="athlete-pic" src={{"/static/athlete/images/"|add:athlete.picture}} alt="{{ athlete.first_name }} {{ athlete.last_name }}">
		<a href={{"/country/"|add:athlete.country.name|stringify}}><img class="flag" src={{"/static/athlete/images/"|add:athlete.country.country_code|add:".png"}} alt={{athlete.country.name}}></a>
		<h6 class="athlete-firstname">{{ athlete.first_name }}</h6>
		<hr class="athlete-decoration">
		<h1 class="athlete-lastname"> {{ athlete.last_name }}</h1>
		<table class="athlete-info">
	        <tr>
	          	<th>Gender</th>
	          	<td>{{ athlete.gender }}</td>
	        </tr>
	        <tr>
	          	<th>Nationality</th>
	          	<td><a href={{"/country/"|add:athlete.country.name|stringify}}>{{ athlete.country }}</a></td>
	        </tr>
	        <tr>
	          	<th>Birthday</th>
	          	<td>{{ athlete.birthdate }}</td>
	        </tr>
	        <tr>
	          	<th>Age</th>
	          	<td>{{athlete.birthdate|age}}</td>
	        </tr>
	        <tr>
		        <th>Height</th>
		        <td>{{athlete.height}}</td>
	        </tr>
	        <tr>
		        <th>Weight</th>
		        <td>{{athlete.weight}}</td>
	        </tr>
	    </table>
		<hr class="header-decoration">
	</div> <!-- End of Header -->

	<!-- Start of Body -->
		<div class="content">
		<embed width="330"
src={{athlete.video}}
type="application/x-shockwave-flash" style="float:right">
			<table class="medal-totals">
                    <tr>
                      <th class="gold">Gold</th>
                      <th class="silver">Silver</th>
                      <th class="bronze">Bronze</th>
                      <th class="total">Total</th>
                    </tr>
                    <tr>
                      <td>
                        {{athlete.gold_medals.all|length }}
                      </td>
                      <td>
                        {{athlete.silver_medals.all|length }}
                      </td>
                      <td>
                        {{athlete.bronze_medals.all|length }}
                      </td>
                      <td>
                        {{ athlete.gold_medals.all.count|add:athlete.silver_medals.all.count|add:athlete.bronze_medals.all.count }}
                      </td>
                    </tr>
                  </table>
			<table class="medal-events">
				<tr>
					<th>Gold</th>
						{% if athlete.gold_medals.all.count == 0 %}
					        <td>&nbsp;</td>
					    {% else %}
					    <td>
					    {% for event in athlete.gold_medals.all %}
                            <div><a href={{"/event/"|add:event.sport|add:"-"|add:event.name|stringify}}>{{event.sport}}:{{ event.name }}</a></div>
                        {% endfor %}
                        </td>
                        {% endif %}
				</tr>
				<tr>
					<th>Silver</th>
					    {% if athlete.silver_medals.all.count == 0 %}
					        <td>&nbsp;</td>
					    {% else %}
					    <td>
					    {% for event in athlete.silver_medals.all %}
                            <div><a href={{"/event/"|add:event.sport|add:"-"|add:event.name|stringify}}>{{event.sport}}:{{ event.name }}</a></div>
                        {% endfor %}
                        </td>
                        {% endif %}
				</tr>
				<tr>
					<th>Bronze</th>
						{% if athlete.bronze_medals.all.count == 0 %}
					        <td>&nbsp;</td>
					    {% else %}
					    <td>
					    {% for event in athlete.bronze_medals.all %}
                            <div><a href={{"/event/"|add:event.sport|add:"-"|add:event.name|stringify}}>{{event.sport}}:{{ event.name }}</a></div>
                        {% endfor %}
                        </td>
                        {% endif %}
                </tr>
			</table>
		</div>

    <div class="footer">
      <div class="container">
        <p class="text-muted">For more information on athletes, visit the official Sochi athlete page: <a href="http://www.sochi2014.com/en/athletes"> Sochi Athletes </a></p>
      </div>
    </div>

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="/static/athlete/bootstrap.min.js"></script>
  </body>
  </html>
