
<!DOCTYPE html>
<html lang="en">
<head>

{% load stringify %}

  <style>
    #map_canvas {
      width: 300px;
      height: 300px;
    }
  </style>
  <script src="https://maps.googleapis.com/maps/api/js"></script>

  <script>
    function initialize() {
      var map_canvas = document.getElementById('map_canvas');
      var map_options = {
        center: new google.maps.LatLng({{country.coordx}},{{country.coordy}}),
        zoom: {{country.coordz}},
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      var map = new google.maps.Map(map_canvas, map_options)
    }
    google.maps.event.addDomListener(window, 'load', initialize);
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="olyrings.icon"> <!-- TODO icon -->

  <title>2014 Sochi Winter Olympics</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/athlete/bootstrap.min.css" rel="stylesheet"><!-- TODO-->

  <!-- Custom styles for this template -->
  <link href="/static/athlete/countrystyle.css" rel="stylesheet"><!--TODO-->

  <body>

       <script src="/static/athlete/navbar.js"></script>


    <!-- Start of Content -->
    <div class="header">

      <!-- Left Side -->
      <img class="flag" src={{"/static/athlete/images/"|add:country.country_code|add:".png"}} alt={{country.name}}>
      <h1 class="country-name">{{country.name}}</h1 >
        <hr class="country-decoration">
        <p class="desc">{{country.description}}</p>
        <hr class="header-decoration">
      </div>

      <!-- Start of Body -->
      <div class="content">
        <div class="gmap" id="map_canvas"></div>
        <table class="medal-totals">
          <h3>Athletes</h3>
          <tr>
            <th>Name</th>
            <th class="gold">Gold</th>
            <th class="silver">Silver</th>
            <th class="bronze">Bronze</th>
            <th class="total">Total</th>
          </tr>
          <tr>
            {% for athlete in country.athletes.all %}
                <td><a href={{"/athlete/"|add:athlete.first_name|add:" "|add:athlete.last_name|stringify}}> {{athlete.first_name}} {{athlete.last_name}} </a></td>
                <td>{{athlete.gold_medals.all|length}}</td>
                <td>{{athlete.silver_medals.all|length}}</td>
                <td>{{athlete.bronze_medals.all|length}}</td>
                <td>{{ athlete.gold_medals.all.count|add:athlete.silver_medals.all.count|add:athlete.bronze_medals.all.count }}</td>
            {% endfor %}
          </tr>
          <tr>
           <th class ="total">Total</th>
           <td>{{country.total_gold_medals}}</td>
           <td>{{country.total_silver_medals}}</td>
           <td>{{country.total_bronze_medals}}</td>
           <td>{{country.total_gold_medals|add:country.total_silver_medals|add:country.total_bronze_medals }}</td>
         </tr>
       </table>

       <table class="medal-events">
        <h3>Events Placed</h3>
        <tr>
          <th>Gold</th>
          <td>
            {% for athlete in country.athletes.all %}
                {% for event in athlete.gold_medals.all %}
                <div><a href={{"/event/"|add:event.sport|add:"-"|add:event.name|stringify}}>{{ event.sport }}:{{ event.name }}</a></div>
                {% endfor %}
            {% endfor %}
          </td>
         </tr>
         <tr>
          <th>Silver</th>
          <td>
            {% for athlete in country.athletes.all %}
                {% for event in athlete.silver_medals.all %}
                <div><a href={{"/event/"|add:event.sport|add:"-"|add:event.name|stringify}}>{{ event.sport }}:{{ event.name }}</a></div>
                {% endfor %}
            {% endfor %}
          </td>
        </tr>
        <tr>
          <th>Bronze</th>
          <td>
            {% for athlete in country.athletes.all %}
                {% for event in athlete.bronze_medals.all %}
                <div><a href={{"/event/"|add:event.sport|add:"-"|add:event.name|stringify}}>{{ event.sport }}:{{ event.name }}</a></div>
                {% endfor %}
            {% endfor %}
          </td>
        </tr>
      </table>

    </div><!-- /.container -->

    <div class="footer">
      <div class="container">
        <p class="text-muted">For more information on the countries, visit the official Sochi website at: <a href="http://www.sochi2014.com/en/teams"> Sochi Teams </a></p>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/athlete/bootstrap.min.js"></script>
  </body>
  </html>
