body {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	color:black;
	background-color:#FFFFFF;
	font-family: Sans-serif, serif;
}

/* Navbar Class */
.navbar .navbar-brand{
	background: linear-gradient(#3090C7, #357EC7);
	color: white;
}
.navbar .nav > li > a{
	background: linear-gradient(#3090C7, #357EC7);
	color: white;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus{
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
}
.dropdown-menu li a{	
	padding: 0px 0px 1px 0px;
	margin: 0px 0px 0px 0px;
}
.dropdown-left{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 5px;
	color:#3090C7;
}
.dropdown-right{
	padding: 0px 0px 0px 0px;
	margin: 0px 10px 0px 5px;
	color:#3090C7;
}
.navbar{
	background: linear-gradient(#3090C7, #357EC7);
	color: white;
}

/* Header Classes */
.header{
	width:760px;
	padding: 20px 20px 20px 20px;
	margin: 60px auto 0px auto;
	background-color: #E5E4E2;
	border: 1px solid #000000
}
.header-decoration{
	padding: 0px 0px 0px 0px;
	margin: 20px 0px 0px 0px;
	color: #000000;
	width: 100%;
	border-bottom: 1px solid #000000
}

/* Athlete Classes */
.flag{
	float:right;
	max-width:200px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 20px;
	border: 1px #000000 solid;
}
.athlete-pic{
	float: left;
	padding: 0px 0px 0px 0px;
	margin: 0px 20px 0px 0px;
	border: 1px #000000 solid;
}
.athlete-firstname{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	font-size:2em;
	font-style: italic;
}
.athlete-lastname{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	font-weight: bold;	
}
.athlete-info{
	padding: 0px 0px 0px 0px;
	margin: 13px 0px 0px 0px;
	width: 300px;
	border-top: 1px #000000 solid;
	border-right: 1px #000000 solid;
	border-bottom: 1px #000000 solid;
	border-left: 1px #000000 solid;
}
.athlete-info th{
	padding: 0px 5px 0px 0px;
	margin: 0px 0px 0px 0px;
	width: 100px;
	background: linear-gradient(#3090C7, #357EC7);
	color: white;
	text-align:right;
	border-top: 1px #000000 solid;
	border-right: 1px #000000 solid;
	border-bottom: 1px #000000 solid;
	border-left: 1px #000000 solid;
	font-style: italic;
	font-size:.8em;
}
.athlete-info td{
	padding: 0px 5px 0px 5px;
	margin: 0px 0px 0px 0px;
	background: linear-gradient(#FFFFFF, #E5E4E2);
	border-top: 1px #000000 solid;
	border-right: 1px #000000 solid;
	border-bottom: 1px #000000 solid;
	border-left: 3px #000000 solid;
	font-weight: bold;
}
.athlete-decoration{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	color: #000000;
	width: 300px;
	border-bottom: 1px solid #000000
}	
	
/* Medal Classes */
.content {
	width:760px;
	padding: 20px 20px 20px 20px;
	margin: 20px auto 0px auto;
	background-color:#E5E4E2;
	border: 1px solid #000000
}
.medal-totals{
	width: 360px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
.medal-totals td {
	padding: 0px 5px 0px 5px;
	margin: 0px 0px 0px 0px;
	border-top: 1px #000000 solid;
	border-right: 1px #000000 solid;
	border-bottom: 1px #000000 solid;
	border-left: 1px #000000 solid;
	background: linear-gradient(#FFFFFF, #E5E4E2);
}
.gold{
	width: 90px;
	padding: 0px 5px 0px 5px;
	margin: 0px 0px 0px 0px;
	border-top: 1px #000000 solid;
	border-right: 1px #000000 solid;
	border-bottom: 1px #000000 solid;
	border-left: 1px #000000 solid;
	background: linear-gradient(#FFDB58, #D4A017);
}
.silver{
	width: 90px;
	padding: 0px 5px 0px 5px;
	margin: 0px 0px 0px 0px;
	border-top: 1px #000000 solid;
	border-right: 1px #000000 solid;
	border-bottom: 1px #000000 solid;
	border-left: 1px #000000 solid;
	background: linear-gradient(#E5E4E2, #B6B6B4);
}
.bronze{
	width: 90px;
	padding: 0px 5px 0px 5px;
	margin: 0px 0px 0px 0px;
	border-top: 1px #000000 solid;
	border-right: 1px #000000 solid;
	border-bottom: 1px #000000 solid;
	border-left: 1px #000000 solid;
	background: linear-gradient(#EDC9AF, #CD7F32);	
}
.total{
	width: 90px;
	padding: 0px 5px 0px 5px;
	margin: 0px 0px 0px 0px;
	border-top: 1px #000000 solid;
	border-right: 1px #000000 solid;
	border-bottom: 1px #000000 solid;
	border-left: 1px #000000 solid;
	background: linear-gradient(#4F4F4F, #3B3B3B);
	color: #FFFFFF;
}
.medal-events {
	width:360px;
	padding: 0px 0px 0px 0px;
	margin: 20px 0px 0px 0px;
}
.medal-events tr th{
	width: 89px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border-top: 1px #000000 solid;
	border-right: 1px #000000 solid;
	border-bottom: 1px #000000 solid;
	border-left: 1px #000000 solid;
	background: linear-gradient(#3090C7, #357EC7);
	color: #FFFFFF;
	vertical-align: center;
	text-align: center;
	font-style: italic;
	font-size:.8em;
}
.medal-events tr td {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border-top: 1px #000000 solid;
	border-right: 1px #000000 solid;
	border-bottom: 1px #000000 solid;
	border-left: 3px #000000 solid;
	background: linear-gradient(#FFFFFF, #E5E4E2);
	
}
/* Event Class */
.event-sport{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	font-size:2em;
	font-style: italic;
}
.event-event{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	font-weight: bold;	
}
.event-decoration{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	color: #000000;
	width: 300px;
	border-bottom: 1px solid #000000;
	width: 100%;
}


/* unvisited link */
a:link {
    color: #000000
	font-weight: bold;
}

/* visited link */
a:visited {
    color: #000000
	font-weight: bold;
}

/* mouse over link */
a:hover {
    color: #000000
	font-weight: bold;
}

/* selected link */
a:active {
    color: #000000
	font-weight: bold;
}

