<!DOCTYPE html>
<html lang="en">

{% load stringify %}

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="olyrings.ico">

	<title>Sochi 2014 - Countries</title>

	<!-- Bootstrap core CSS -->
	<link href="bootstrap.min.css" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="boxesstyle.css" rel="stylesheet">

</head>
<body>

	<!-- Start of Navbar-->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">

		<!-- Navbar Title -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
			<a class="navbar-brand" href="home.html">Sochi 2014</a>
		</div>

		<!-- Navbar Links -->
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">

				<!-- Navbar Link #1 -->
				<li>
					<a href="/athletelist/">Athletes</a>
				</li>
				<li>
					<a href="countrylist">Countries</a>
				</li>
				<li>
					<a href="eventlist">Events</a>
				</li>

			<!-- Search bar -->
			<form class="navbar-form navbar-left" role="search">
			  <div class="form-group">
				<input type="text" class="form-control" placeholder="">
			  </div>
			  <button type="submit" class="btn btn-default">Search</button>
			</form>
			<!-- End of Search bar -->

		  </ul>
		</div> <!-- Close Collapse -->
	  </div> <!-- Close Container -->
	</nav> <!-- End of Navbar -->


	<!-- Start of Content -->
	<div class="container theme-showcase" role="main" style="margin-top:20px">
	<div class="row">
  	<div class="panel panel-default">
  		<div class="panel-heading">
        <h1 class="panel-title" id="Countries">Countries</h1>
      </div>

      <ul style="list-style: none;overflow:auto;padding-left:0;">

      {% for country in countries %}
        <li class = "boxes">
            <a href={{"/country/"|add:country.name|stringify}}><strong>country.name</strong><br><img src={{"/static/athlete/images/"|add:country.country_code|add:".png"}} alt=country.name class="flag-images"></a><br/>
        </li>
      {% endfor %}

  	</ul>
  	</div>
	</div>
	</div> <!-- End of Header -->

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="bootstrap.min.js"></script>
  </body>
  </html>
