th {
	width: 90px;
	padding: 0px 5px 0px 5px;
	margin: 0px 0px 0px 0px;
	border-top: 1px #000000 solid;
	border-right: 1px #000000 solid;
	border-bottom: 1px #000000 solid;
	border-left: 1px #000000 solid;
	background: linear-gradient(#3090C7, #357EC7);
}
body {
	padding: 50px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	color:black;
	background-color:#FFFFFF;
	font-family: Sans-serif, serif;
}

input {
    color:black;
}

/* Navbar Class */
.navbar .navbar-brand{
	background: linear-gradient(#3090C7, #357EC7);
	color: white;
}
.navbar .nav > li > a{
	background: linear-gradient(#3090C7, #357EC7);
	color: white;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus{
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
}
.dropdown-menu li a{
	padding: 0px 0px 1px 0px;
	margin: 0px 0px 0px 0px;
}
.dropdown-left{
	padding: 0px 0px 0px 0px;
	margin: 0px 5px 0px 5px;
	color:#3090C7;
}
.dropdown-right{
	padding: 0px 0px 0px 0px;
	margin: 0px 5px 0px 5px;
	color:#3090C7;
}
.navbar{
	background: linear-gradient(#3090C7, #357EC7);
	color: white;
}

/* Header Classes */
.header{
	width:100%; max-width:760px;
	padding: 20px 20px 20px 20px;
	margin: 60px auto 0px auto;
	background-color: #E5E4E2;
	border: 1px solid #000000
}
.header-decoration{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	color: #000000;
	width: 100%;
	border-bottom: 1px solid #000000
}
.title{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	font-size:2em;
	font-style: italic;
}

/* Country Classes */
.logo{
	margin-left: auto;
    margin-right: auto;
	width: 100%; max-width:700px;
}
.group-name{
	text-align:center;
	padding: 10px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	font-size:20px;
	font-weight: bold;
}
.country-decoration{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	color: #000000;
	width: 300px;
	border-bottom: 1px solid #000000
}

/* Medal Classes */
.lead{
	font-family: Sans-serif, serif;
}
.descript{
    padding: 10px 0px 0px 0px;
}
.content {
	padding: 10px 20px 20px 20px;
	margin: 20px auto 0px auto;
	height: 100%;
	width: 100%; max-width: 760px;
	background-color:#E5E4E2;
	border: 1px solid #000000;
	overflow: hidden;
}
.profile1{
	padding: 10px 0px 10px 0px;
	float:left;
	width: 100%; max-width: 560px;
	height:100%; min-height: 150px;
}
.profile2{
	padding: 10px 0px 10px 0px;
	float:right;
	width: 100%; max-width: 560px;
	height:100%; min-height: 150px;
}
.responsive {
	border: 3px red solid;
	height: 100%; max-height: 400px;
	width: 100%; max-width: 700px;
}
.photo1 {
	float:left;
	height: 100%; max-height: 150px;
	width: 100%; max-width: 150px;  min-width: 100px;
	border: 1px solid;
	margin: 10px 5px 10px 0px;
}
.photo2 {
	float:right;
	height: 100%; max-height: 150px;
	width: 100%; max-width: 150px;
	border: 1px solid;
	margin: 10px 0px 10px 5px;
}

.cover {
    max-height: 350px;
    max-width: 200px;
    border: 1px solid;
    float:right;
}

/* unvisited link */
a:link {
    color: #000000
	font-weight: bold;
}

/* visited link */
a:visited {
    color: #000000
	font-weight: bold;
}

/* mouse over link */
a:hover {
    color: #000000
	font-weight: bold;
}

/* selected link */
a:active {
    color: #000000
	font-weight: bold;
}

