body {
	padding: 0px 0px 40px 0px;
	margin: 0px 0px 0px 0px;
	color:black;
	background-color:#FFFFFF;
	font-family: Sans-serif, serif;
}

/* Navbar Class */
.navbar .navbar-brand{
	background: linear-gradient(#3090C7, #357EC7);
	color: white;
}
.navbar .nav > li > a{
	background: linear-gradient(#3090C7, #357EC7);
	color: white;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus{
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
}
.dropdown-menu li a{
	padding: 0px 0px 1px 0px;
	margin: 0px 0px 0px 0px;
}
.dropdown-left{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 5px;
	color:#3090C7;
}
.dropdown-right{
	padding: 0px 0px 0px 0px;
	margin: 0px 10px 0px 5px;
	color:#3090C7;
}
.navbar{
	background: linear-gradient(#3090C7, #357EC7);
	color: white;
}
/* Boxes Class */
.boxes-country{
	float:left;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:30px;
	height:160px;
	width: 250px;
	text-align:center;
}

.boxes-athlete{
	float:left;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:30px;
	height:250px;
	width: 250px;
	text-align:center;
}

.boxes-event{
	float:left;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:30px;
	height:250px;
	width: 250px;
	text-align:center;
}

.flag-images{
	max-height: 200px;
	max-width: 200px;
}
ul, ol {
    margin-top: 0px;
    margin-bottom: 10px;
    border-color:#000
}
.panel{
	margin-bottom:20px;
	background-color:#fff;
	border:1px solid transparent;
	border-radius:4px;
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);
	box-shadow:0 1px 1px rgba(0,0,0,.05)
}
.panel-title{
	font-weight: bold;
	font-family: Sans-serif, serif;
	font-size: 200%;
	font-style: italic;
}
.panel-heading{
	padding: 20px 20px 20px 20px;
	margin: 00px auto 0px auto;
	background-color: #3090C7;
	border-bottom: 1px solid #000000;
}
.panel-default{
	margin-top:50px;
	border-color:#ddd
}
/* Header Classes */
.header{
	width:760px;
	padding: 20px 20px 20px 20px;
	margin: 60px auto 0px auto;
	background-color: #E5E4E2;
	border: 1px solid #000000
}
.header-decoration{
	padding: 0px 0px 0px 0px;
	margin: 20px 0px 0px 0px;
	color: #000000;
	width: 100%;
	border-bottom: 1px solid #000000
}


/* unvisited link */
a:link {
    color: #000000
	font-weight: bold;
}

/* visited link */
a:visited {
    color: #000000
	font-weight: bold;
}

/* mouse over link */
a:hover {
    color: #000000
	font-weight: bold;
}

/* selected link */
a:active {
    color: #000000
	font-weight: bold;
}

