
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="olyrings.ico"> <!-- TODO icon -->

  <title>2014 Sochi Winter Olympics</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/athlete/bootstrap.min.css" rel="stylesheet"><!-- TODO-->

  <!-- Custom styles for this template -->
  <link href="/static/athlete/home.css" rel="stylesheet"><!--TODO-->

  <body>
<form action="/search" method="get">
    <input type="text" name="q">
</form>
     <script src="/static/athlete/navbar.js"></script>

    <!-- Start of Content -->
    <div class="header">

      <!-- Left Side -->
      <img class="logo" src="/static/athlete/images/sochilogo.png" alt="Sochi 2014">

    </div>

      <!-- Start of Body -->
      <div class="content">
        <p class="group-name">4 is better than 6</p>
        <p>Ardhimas Kamdani<br>Stewart Johnson<br>Austin Hooper<br>Nickson Dalimantara</p>
      </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/athlete/bootstrap.min.js"></script>
  </body>
  </html>
